{% extends "navbar.html" %} {% block title %} Slot Booking {% endblock title %}
{% block body %}
<br />
<br />
<br />
<br />
<br />

<div class="container mt-4">
  <div class="display-4 text-center text-info">Book Room Slots</div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        {% include "message.html" %}
        <h4 class="text-center text-success">Hotel Care Center</h4>
        <div class="card-body bg-light">
          <form action="/slotbooking" method="post">
            <div class="form-group">
              <input
                type="text"
                class="form-control mt-2"
                name="srfid"
                value="{{current_user.srfid}}"
                readonly
                required
              />
            </div>

            <div class="form-group">
              <select id="bedtype" name="bedtype" class="form-control" required>
                <option selected>Choose Rooms Type</option>
                <option value="normalroom">Normal Room</option>
                <option value="acroom">Ac Room</option>
                <option value="nonacroom">Non Ac Room</option>
                <option value="luxaryroom">Luxary Room</option>
              </select>
            </div>

            <div class="form-group">
              <!-- <small> Select hotelcode by looking the availablity of rooms in table right side</small> -->
              <select id="hcode" name="hcode" class="form-control" required>
                <option value="none">Select Hotel Code </option>
               {% for i in query1 %}
               
               <option value="{{i.hcode}}">{{i.hcode}}</option>
               
               {% endfor %}
            </div>
            <div class="form-group">
              <input
                type="number"
                class="form-control mt-2"
                name="spo2"
                placeholder="Number of person "
                required
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control mt-2"
                name="pname"
                placeholder="Name"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control mt-2"
                name="pphone"
                placeholder="Phone Number"
                required
              />
            </div>
          
            <div class="form-group">
              <input
                type="text"
                class="form-control mt-2"
                name="paddress"
                placeholder="Address"
                required
              />
            </div>
          
            <br />
            <button class="btn btn-info" type="submit">Book Slot</button>
          </form>
        </div>
      </div>
    </div>


    <div class="col-md-8">
    
    <table class="table table-dark">
  <thead>
  <h3 class="text-center text-white bg-dark">Available Rooms</h3>
    <tr>
      
      <th scope="col">Hotel Code</th>
      <th scope="col">Hospital Name</th>
      <th scope="col">Normal Room</th>
      <th scope="col">Ac Room</th>
      <th scope="col">Non Ac Room</th>
      <th scope="col">Luxary Room</th>
    </tr>
  </thead>
  <tbody>
  {% for post in query %}
   <tr>
      <td>{{post.hcode}}</td>
      <td>{{post.hname}}</td>
      <td>{{post.normalroom}}</td>
      <td>{{post.acroom}}</td>
      <td>{{post.nonacroom}}</td>
      <td>{{post.luxaryroom}}</td>
    </tr>
   
  {% endfor %}
   
  </tbody>
</table>
    
    </div>
  </div>
</div>

{% endblock body %}
