
{% extends 'baselogin.html' %}
{% block title %} Patient details{% endblock title %}
{% block form %}

{% if current_user.is_authenticated and current_user.hcode %}
<div class="col-md-8">
    
      <table class="table table-dark">
    <thead>
    <h3 class="text-center text-white bg-dark">Booking Detail of My hotel :{{current_user.hcode}}</h3>
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">Room Type</th>
       
        <th scope="col">Phone </th>
        <th scope="col">Address</th>
        
      </tr>
    </thead>
    <tbody>
    {% for data in datas %}
     <tr>
        <td>{{data.pname}}</td>
        <td>{{data.bedtype}}</td>
        <td>{{data.pphone}}</td>
        <td>{{data.paddress}}</td>
      </tr>
     
    {% endfor %}
     
    </tbody>
  </table>
      
      </div>

{% endif  %}

{% endblock form %}