{% extends "navbar.html" %}
{% block title %}
Add Hotel Information
{% endblock title %}
{% block body %}
<br>
<br>
<br>
<br>
<br>

<div class="container mt-4">
<div class="display-4 text-center text-info">Add Hotel Data</div>
<br>
<div class="row">

    <div class="col-md-4">

        <div class="card">
            {% include "message.html" %}
            <h4 class="text-center text-success">Covid Care Center</h4>
            <div class="card-body bg-light">

                <form action="/addhospitalinfo" method="post">
                    <Center>Hotel Code :{{current_user.hcode}}</Center>
                    <div class="form-group">
                        <input type="text" class="form-control mt-2" name="hcode" 
                        
                        placeholder="Enter the Hotel Code" required >
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control mt-2" name="hname" placeholder="Enter Hotel Name" required>
                    </div>

                    <div class="form-group">
                        <input type="number" class="form-control mt-2" name="normalroom" placeholder="Normal Room Available?"  value="" required>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control mt-2" name="acroom" placeholder="Ac Room Available?" required>
                    </div>

                    <div class="form-group">
                        <input type="number" class="form-control mt-2" name="nonacroom" placeholder="Non Ac Room Available?" required>
                    </div>

                    <div class="form-group">
                        <input type="number" class="form-control mt-2" name="luxaryroom" placeholder="Room required?" required>
                    </div>
                 
                    <br>
                    <button class="btn btn-info" type="submit">Add</button>
                    



                </form>

            </div>
        </div>


    </div>

   
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://source.unsplash.com/600x1000/?hotel,room" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body bg-dark">
                  <h5 class="card-title text-center bg-light">Hotel Data</h5>
                  <div class="card bg-dark" style="width: 28rem;">
                    <ul class="list-group list-group-flush bg-dark">
                      <li class="list-group-item">Hotel Code : <b>{{postsdata.hcode}}</b> </li>
                      <li class="list-group-item">Hotel Name : <b>{{postsdata.hname}}</b></li>
                      <li class="list-group-item">Normal Room Available :<b>{{postsdata.normalroom}}</b>  </li>
                      <li class="list-group-item">Ac Room Available: <b>{{postsdata.acroom}}</b> </li>
                      <li class="list-group-item">Non Ac Room Beds Available :<b>{{postsdata.nonacroom}}</b> </li>
                      <li class="list-group-item">Luxary Room Available : <b>{{postsdata.luxaryroom}}</b></li>
                      <li class="list-group-item"><a href="/hedit/{{postsdata.id}}"><i class="fas fa-edit"></i></a> </i>
                  
                          <a class="ml-4" confirm('Are you sure to Delete data'); href="/hdelete/{{postsdata.id}}"><i class="fas fa-trash-alt"></i></a>
                    </li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>


    </div>

</div>


</div>

{% endblock body %}
